@use 'sass:list';
@import './scss';

.app {
    @include color-scheme($dark-theme...);
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    &.light {
        @include color-scheme($light-theme...);
        & .paragraph {
            color: rgb(51, 47, 47);
        }
    }
    ol {
        text-align: left;
        margin: 0;
        & .listItem {
            & .list {
                display: block;
                margin: 0 0 20px 0;
            }

            border: 1px solid rgb(144, 183, 199);
            padding: 10px;
            width: 700px;
            border-radius: 10px;
            margin: 0 0 10px 0;
        }
    }
    & .paragraph {
        color: #fff;
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        opacity: 0.5;
    }
    & .form {
        width: 430px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
    }
    & .randomText {
        max-width: 700px;
        & div {
            color: transparent;
            text-decoration: line-through black wavy;
            -webkit-text-decoration: line-through black wavy;
        }
    }
    & .loaderWrapper {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .modal {
        width: 500px;
    }
}
