.container {
    width: calc(100% - 70px);
    height: 130px;
    margin: 20px 0 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    div {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        background-color: lightgray;
    }
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}
