.language {
    margin: 2px;
    cursor: pointer;
    color: grey;
    background: none;
    border: none;
    padding: 3px;
    &:hover {
        color: lightgrey;
        text-decoration: underline;
    }
}

.languages {
    // position: absolute;
    // top: 25px;
    // right: 80px;
}
