.wrapper {
    width: 75vw;
    color: black;
}
.container {
    width: 100%;
    height: 120px;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}
